<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- comment to test some shit-->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
